.footer_area{
    .footer_top{
        padding-top: 140px;
        padding-bottom: 32px;
        & .footer__menu{
            display: flex;
            justify-content: center;
            gap:64px;
            text-transform: uppercase;
        }
    }
    & .footer__bottom{
        padding-bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 32px;
        border-top: 1px solid $_343434;
    }
}