.heading {
    padding: 22px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @include sm {
        padding: 10px;
    }
    @include sm {
        background-color: #FF8FE6;
        .navbar-toggler {
            // background: #fff;
            padding: 6px;
            margin: 5px 0;
        }
        .navbar-collapse {
            // background: #fff;
            padding: 18px 0;
            & .navbar-nav {
                & a {
                    border-bottom: .8px solid #fff;
                    padding: 15px;
                    border-radius: 0;
                }
            }
        }
        & .navbar-nav {
            display: inherit;
        }
    }
    .header_socials{
        margin-right: 8px;
        li{
            border-radius: 9px;
            border: 1px solid rgba(58, 127, 228, 0.60);
            background: #37475E;
            transition: all .3s ease-in-out;
            margin-left: 16px;
            a{
                width: 56px;
                height: 56px;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $_white;
                img{
                    width: 22px;
                }
            }
            &:hover{
                border: 1px solid $_white;
                    
            }
        }
        @include sm{
            position: absolute;
            top: 2px;
            right: 0;
        }
        
    }
    & .navbar{
        padding:18px 23px;
        border-radius: 8px;
        background: rgba(142, 188, 246, 0.20);
        backdrop-filter: blur(17px);
        @include md{
            padding: 0;
        }
    }
    
}

.navbar-nav {
    & a {
        display: block;
        color: $_white;
        @include font-16;
        padding:14px 16px;
        cursor: pointer;
        letter-spacing: 0.08px;
        text-transform: uppercase;
        line-height: 150%;
        border-radius: 9px;
        border: 1px solid rgba(58, 127, 228, 0.60);
        background: #37475E;
        margin-right: 16px;
        &:hover,
        &.active,
        &:focus {
            color: $_white !important;
            border: 1px solid $_white;
        }
        @include mmd{
            border-radius: 10px;
        }
    }
    @include mmd{
        border-radius: 10px;
    }
    
}

.heading.fixed{
    position: fixed;
    padding:10px 23px;
    border-radius: 8px;
    background: rgba(142, 188, 246, 0.20);
    backdrop-filter: blur(17px);
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    @include lg{
        padding: 0;
    }
    @include mmd{
        padding: 0;
    }
}

@media(max-width:1280px){
    .heading{
        background-color: #FF8FE6;
    }
    .navbar-nav {
        margin-top: 15px;
        border-radius: 10px;
        & a {
            border-radius: 10px;
        }
    }
    .header_socials{
        margin:15px 0;
    }
}